.todo_content {
  height: calc(100% - 80px);
  background-color: #e4ebf5;
  .todo_item {
    @include flex;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: #e4ebf5;
    box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
    .desc {
      flex: 1;
      font-size: 32px;
      line-height: 100px;
      @include text-ellipsis-1;
      &.complete{
        text-decoration: line-through
      }
    }
    .actions {
      @include flex;
      .icon {
        width: 40px;
        height: 40px;
      }
    }
  }
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .status {
    text-align: center;
    padding-bottom: 20px;
    color: #c1c1c1;
  }
}
