.tabs {
  .tabs-wrapper {
    display: flex;
    align-items: center;
    .tab-item {
      flex: 1;
      @include flex;
      height: 80px;
      position: relative;
      .indicator {
        position: absolute;
        width: 0;
        height: 4px;
        // background-color: $primary-color;
        bottom: 8px;
        transition: width .2s;
      }
    }
  }
}
