@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin text-ellipsis-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
